[2020-06-25 13:50] qdread opened #1 "Suppress warning messages in circular_overlap"
This issue was mentioned by @yyue-r  in an email.

One or more of the circular overlap functions currently print warning messages because we don't supply any of the options to `as.circular`. We need to either supply them as hard-coded options within the function, or provide the user with the options.

[2020-06-25 13:51] qdread opened #2 "Different names for the same argument"
Issue originally mentioned by @yyue-r in an email.

There are some cases where a function argument changes names as it passes through different layers of functions. For example `n` is also passed as `N`, and `norm` as `normal`. I need to check to remind myself whether this was done intentionally. Hopefully we can figure out a way to make things consistent without causing errors or problems.

[2020-06-25 16:08] yyue-r commented on #2
I checked the changes over time and I think Sydne made the first changes in arguments on June 15 (the second commit). To make sure the functions run, I changed arguments for a few other functions too.

Functions that uses "normal" and "N": pairwise_overlap, community_overlap_merged (these two run without problem), community_overlap (community_overlap is the first function in densityoverlap, and I

[2020-06-26 13:47] qdread opened #3 "Interpretation of "normal" argument"
Hi Arya, I looked at some of the documentation you made and it looks great. I did find one issue -- the interpretation of the "normal" or "norm" argument. It has nothing to do with assuming that the data are normally distributed. In this case, normalization refers to setting the area under the curve equal to 1. So the documentation for that parameter should read something like:
[code]
Hopefully th

[2020-06-26 14:24] qdread commented on #1
I think commit dce56e1 resolves this. I noticed a bug in the code where the function creates the `acirc` and `bcirc` objects but never uses them. I fixed that and also cleaned up the function a little bit, and some of the documentation that goes along with it.

[2020-06-26 14:24] #1 closed

[2020-06-26 14:38] qdread commented on #2
OK I have an idea here. I think the argument names are fine. I'm not sure why I made them different before, though I do seem to remember doing it intentionally.
But what we should do to clean things up is include an ellipsis `...` in the arguments to `pairwise_overlap` to enable passing as many arguments as we want to `density`. Then we need to put ellipsis in any other higher up functions so that

[2020-06-30 14:30] qdread commented on #2
I've started to work on this in a branch called [clean_up_args](https://github.com/NEON-biodiversity/Ostats/tree/clean_up_args) because I did not want to mess up what you all were doing too much. Hopefully it will not cause too much conflict and we can merge later. Basically I am getting rid of the bw and N arguments and replacing it with a `...` argument in `Ostats` where the user can put in bw,

[2020-07-01 11:07] qdread opened #4 "Write a test suite"
@yyue-r  @isafluck It might be a good idea to write some package tests. That way, if we make changes to the code, we can run everything through the test suite instead of having to test each change individually. Look at this [chapter on tests from Hadley's package book](http://r-pkgs.had.co.nz/tests.html).

This would be great to do this summer if we have time. Let me know if you want to discuss it

[2020-07-01 12:39] qdread commented on #2
@yyue-r @isafluck OK, check out the commit d008e9d ! I think this gets rid of the bw and N arguments everywhere. The user can now put in whatever arguments they want to pass to `density()`. This is useful because there are other arguments they might want to send to `density()`, such as `adjust` and `kernel`. Now they have the option.

I haven't tested the code properly yet so I will leave this iss

[2020-07-01 15:17] yyue-r commented on #3
@qdread Hi Quentin, thank you very much for pointing it out! I vaguely realized it during our meeting and made a note to check through all my work related to "norm", but I missed this since Github is linked to another of my email that I do not check as frequently. Sorry for the delay but I will recheck the documentation!

[2020-07-01 15:56] yyue-r commented on #4
@qdread Thank you for the suggestion! We will try to set it up, and if we have any questions we will email you!

[2020-07-01 16:01] yyue-r commented on #2
@qdread Hi Quentin, thank you so much for cleaning up the arguments! Since it solves the problem of "n" and "N", should I choose one between "norm" and "normal" and make it consistent across the package?

[2020-07-01 16:20] qdread commented on #2
@yyue-r Yeah I think that's fine. I think most of the functions now have the name `normal`. I tried to get rid of `norm` wherever I could, so if you see `norm` anymore go ahead and get rid of it! :-D

[2020-07-01 22:12] isafluck commented on #4
Nice! I make arya's words mine!

[2020-07-02 14:31] #3 closed

[2020-07-02 14:35] yyue-r commented on #2
@qdread  Ok!

[2020-07-02 14:36] qdread commented on #4
To be more specific, I think the package tests would basically consist of a script where we call the `Ostats` function with a bunch of different inputs. For example, linear data, circular data, etc. Then also give it some weird inputs to see how it handles them, like datasets with only one species, species with only one individual measurement, that kind of thing. We would check to make sure the ou

[2020-07-02 18:47] yyue-r commented on #4
@qdread Thank you! Is this R script going to be a separate file or within the package? I have watched a few youtube tutorials and tried out test_that, and will try to compile a few tests.

[2020-07-02 18:52] qdread commented on #4
Check out the link in my first post on this thread ([chapter on tests from the book on how to create R packages](http://r-pkgs.had.co.nz/tests.html)). It describes pretty well how to do it. If you run the `use_testthat()` function from devtools, it will create a tests folder in the package directory. Then follow the rest of the instructions for adding test files to the tests directory. The test fi

[2020-07-02 20:08] yyue-r commented on #4
@qdread Got it! Thank you!

[2020-07-06 19:25] yyue-r commented on #4
use_testthat is now from the usethis package, but it was part of devtools in the past. Think this might be useful information to share!

[2020-07-08 16:28] yyue-r commented on #4
@qdread I tried to test pairwise_overlap in the test folder just as an example. Is this what you were talking about?

Since I need to have an object to compare to the output of the function when using expect_equal, do I need to run the function and store the result first (like what I did with the pairwise_overlap example)? How do I store the lists generated by Ostats and then compare the output of

[2020-07-08 19:17] qdread commented on #4
Hi Arya, I just wanted to let you know I saw this and I will try to get back to you on it in a couple of days.

[2020-07-14 12:38] qdread commented on #4
@yyue-r Hi again! I think the way we should do it is to construct some fake data with a known overlap value --- that way you do not need to run the function to test it. If we give enough sample size we can get the equality within a tolerance value. Look at commit 67bb291. I edited the pairwise overlap test to create some fake data with 50% overlap (setting seed first), then made a result vector th

[2020-07-14 15:49] yyue-r opened #5 "Plotting function"
@qdread
Hi Quentin, I have been working on the plotting function based on your code. May I ask you a few questions? The line number refers to the R script in internal_docs.

Line 11: sample size=24. Does it need to be changeable/customizable for the user? Is there a way to make colors more distinct from one another?

Line 25: stat_density() adjust = 2. Does it need to be changeable/customizable?

[2020-07-15 12:27] qdread commented on #5
@yyue-r @isafluck
In general, I think the best way to proceed with the plotting function is to provide sensible default values that will work "out of the box" for most cases, but also make everything as customizable as possible.

In response to your specific questions:

Line 11: There is nothing special about the colors. I think it would be best to provide a default color scheme using the viridis

[2020-07-15 15:19] yyue-r commented on #5
@qdread Hi Quentin Thank you so much! I will make the changes to the function.

[2020-07-15 23:29] isafluck commented on #5
hey! found a way to not have to use the argument "trait name" in the function! it is because the trait name is on the name column of the ostats output (first matrix of the list) already
Now I`m trying to understand an Error in UseMethod("mutate_") ........

[2020-07-16 00:24] isafluck commented on #5
@yyue-r , did you include how you joined the community name with its overlap value in your last update of the plot function? I don't find it. I managed to solve the mutate problem now I am running everything again to test with other data. Fingers crossed!

[2020-07-16 02:07] isafluck commented on #5
The function worked! Only with this command:
Ostats_plot(indiv_dat = indiv_dat, siteID = siteID, taxonID = taxonID, trait = trait, overlap_dat = overlap_dat)
the traits distribution for each of the communities are plotted with the ostats overlap values in the top left!

#---#
I think we could add an additional condition argument: "sites2use", for those who don't want to plot all the sites and only

[2020-07-28 21:20] isafluck opened #6 "details on documentation Ostats"
Hello!
I have tried to update a small detail in the Ostat function documentation, but when I tried to document it, an error happened with the figshare link. I don't know why... maybe it was nothing but maybe you can check it.

The (very little and silly) detail I was trying to change is that the name I use in academic works is Isadora Essig Fluck and not Isadora Fluck Essig. So please if you can r

[2020-07-29 00:52] isafluck commented on #5
Hello!
I have updated the Ostats_plot function!
For me everything went well, I could plot all the sites and only selected ones just changing the "sites2use" argument. However, if you could try it to see if it works for you I would appreciate it!
I think we have to test with fake data as well before finishing for good...

Further discussion:
1)simple free_y option @yyue-r
2)passing on stat_density

[2020-08-04 14:12] qdread commented on #5
Hi @yyue-r and @isafluck ! I just fixed up the plotting function some, to clean up some redundant code, add the labels with overlap statistic on each panel, and a couple other little things. I wanted to bring a couple things to your attention that you could work on. See commit da4931f.

First of all, if you notice, I put the prefix `ggplot2::` in front of all the ggplot2 functions. It would be gre

[2020-08-04 19:12] isafluck commented on #5
Hello!
@qdread just a question... are these lines
` siteID <- indiv_dat$siteID `
`taxonID <- indiv_dat$taxonID`
etc
necessary? My question is, if the user put another name for the argument siteID for example, the function will know that this name refers to the siteID argument (if it is in the right position)?
Ex:
If the user use this:
`Ostats_plot<-function(indiv_dat, sitesnames, taxons, trait, ov

[2020-08-04 19:25] qdread commented on #5
@isafluck To answer the second part of the question first, yes, if you give the arguments in the correct order, even if they are not named explicitly, it will work. The function will use the arguments in the order the user puts them in, so yes it would know that the second argument is `siteID`, and so forth.

As for the first part of the question, the way the function is currently written, you are

[2020-08-04 19:30] isafluck commented on #5
Nice! I will exclude them.
I'm fixing the stat_density now!

Thank you very much!

[2020-08-10 17:26] yyue-r opened #7 "Dots argument for Ostats"
Hi Quentin@qdread !For the dots argument that you added to Ostats to pass on to density(), setting bw and adjust works, but n does not work. It generates an error saying that the n argument "matches multiple formal arguments".

[2020-08-10 17:27] yyue-r opened #8 "ostat2longform not working for two sites?"
Ostat2longform does not seem to work if I only have two sites (it works in code supplement). The error is in the line
res <- cbind(site = rep(dimnames(o[[1]])[[1]], each=ntrait), trait = rep(dimnames(o[[1]])[[2]], times=nsite), res)

Error in data.frame(..., check.names = FALSE) : arguments imply differing number of rows: 2, 0

[2020-08-10 17:56] qdread commented on #7
Hi @yyue-r I actually get a different error than you did. Can you please give me the code that you used to generate that error, so that I can make sure we are looking at the same thing?

[2020-08-10 17:57] qdread commented on #8
@yyue-r Again it would be really helpful if you could give me the code that you used that produced this error, so that I can be sure we are looking at the same thing! :-D

[2020-08-10 18:30] qdread commented on #7
Okay, I got the error as well. It looks like it's because the argument is called `n` but we have multiple arguments in our function that also begin with `n`, they are `nperm` and `nullqs`. The reason this is a problem is because R, trying to be helpful, actually lets you abbreviate argument names. For example, if you say `rnorm(n=10, m = 1)` that is the same as saying `rnorm(n=10, mean=1)`. But in

[2020-08-10 18:32] yyue-r commented on #7
Hi Quentin, thanks! I was going to say the error should be reproduced if you run the vignette script up to line 141.

[2020-08-10 18:33] yyue-r commented on #8
It is also in the vignette! I think it's line 177.

[2020-08-10 18:36] qdread commented on #7
OK I committed the change in commit 25b15c8 .

Now `Ostats()` has an argument called `density_args` so you would pass a list of arguments for `density()` to it.

For example:

[code]

I'm closing this because I think it's fixed now! It should be very straightforward to update the vignette with this new way of writing the call to `Ostats()`.

[2020-08-10 18:36] #7 closed

[2020-08-10 18:55] qdread commented on #8
OK I found the problem! Basically it is just that the `traits` object that was used to create `Ostats_example` did not have a column name. So then when you use `dimnames` to try to get the trait name, it returns `NULL` and then the `cbind` gives an error. So what I would do to fix this is to make sure the matrix has a name. In the vignette on line 74, replace `dat$log_weight` with `dat[,'log_weigh

[2020-08-10 18:55] #8 closed

[2020-08-10 19:21] qdread commented on #2
@yyue-r  I think this problem is pretty much cleared up by the edits referenced in #7 so we can probably close this too ...

[2020-08-19 01:57] isafluck commented on #5
Hello all!
I have just updated the function to add an optional free_y scale in facet_wrap (scale_yo argument; but I think the documentation of it needs to be improved), and also add the option to plot the mean of each species trait over the polygons (media argument).
In our meetings, surged the idea to include an option to plot only the means without the polygons. But I think Arya's idea to create

[2020-08-20 01:26] qdread commented on #5
Hi @isafluck thanks for your work! Would you mind putting a few images in this thread showing the output of the plotting function with different options? That would be really great. I can take a look after that.

[2020-08-20 01:27] qdread commented on #6
@isafluck I apologize, I just now saw this issue. Is this still something you need help with? And no need to say it's a silly detail, it's very important to get names right!

[2020-08-20 12:40] qdread commented on #5
Hey @isafluck  I took a look and here are a couple of things that could be improved on the function.

- There is a variable called `all` which should have a different name because `all` is the name of a function in base R and it is better not to duplicate that name, to avoid conflicts.
- The argument `media` says that trait medians are plotted, but the function calculates the mean, not the median.

[2020-08-20 18:31] isafluck commented on #5
Hello, Quentin!
*** I fixed the first and second items you cited - sorry for the media thing... is because in Portuguese media is mean, I did not mean "median").

***But when I tried to fix the for, something got weird... when I set  `for(i in length(unique(taxonID))){.... `it accuses that we have 25 species (?). Before it was 23?
I believe I did not modify the raw data because I'm always getting

[2020-08-26 18:42] #2 closed

[2020-09-03 19:34] #6 closed

[2020-09-03 19:35] sydnerecord commented on #6
Added Isadora's correct name to author list on Readme file and doublechecked names on vignette authors.

[2020-09-03 19:39] sydnerecord commented on #5
Hi @isafluck and @yyue-r,

I've finished my work on the vignette for now, but note that the code chunk for running the plotting function is not yet working (it's commented out right now to allow for knitting). Can you take a look and get that running?

Also, it would be great to have a chunk of code in the vignette that provides an example for the mean plotting function. I've made an empty code ch

[2020-09-03 19:42] sydnerecord commented on #4
Hi @billspat ,

Do you have any resources or suggestions for getting started with a test suite for this package? We will be having the group work through the vignette for the Ostats package for our 9/28 meeting. If you have time and are able to think about how we might get a test suite and use the testhat package on Ostats we would really appreciate it. In general, if we are developing a lot of pa

[2020-09-03 19:46] sydnerecord opened #9 "Ostats_regional example"
Hi @qdread ,

I was working through Arya's example for ostats_regional in the vignette, but didn't feel as if the regional pool was specified correctly (i.e., it uses all years and sites). I wrote some other example code just trying to see how the HARV 2019 data compared to HARV and BART data from 2013-2018, but I could not get the code to run. Can you take a look at the ostats_regional example in

[2020-09-03 20:05] sydnerecord opened #10 "Overlap_circular example not working"
Hi @yyue-r

I noticed that the example for circular_overlap is not working. Can you look into this?

x <- runif(n = 100, min = 0, max = pi*3/2)
y <- runif(n = 100, min = pi, max = 2*pi)
circular_overlap(x, y, circular_units = "radians", density_args = list(bw = 1))
# above line generates this error: Error in match.arg(type) : 'arg' must be NULL or a character vector

Thanks!
Sydne

[2020-09-03 20:37] sydnerecord opened #11 "Community_overlap needs an example in the man pages"
Hi @yyue-r

Please add an example to the community_overlap function man page.

Thanks!
Sydne

[2020-09-03 22:56] isafluck commented on #5
Hello @sydnerecord !!
I have updated the example for the ostats_plot in the vignette!
I tested here and It worked.
Just two questions:
- Do I have to change it in another place as well?
- Shouldn't we give the user the results of the ostats function? Or just saying that the argument overlap_dat is "#your results from the Ostat function - see \code{\link{Ostats}} " is enough?

Thank you!

[2020-09-03 23:54] sydnerecord commented on #5
Hi @isafluck,

Great! You should add this as an example to the man page for ostats_plot.

I think as long as the overlap_dat is still in the history of the current R session, we don't need to run Ostats again. We'll catch this if it is wrong when we go to knit the vignette.

Thanks!
Sydne

[2020-09-04 12:30] qdread commented on #9
Hi @sydnerecord, I am not sure that you committed the not-working code. I didn't see it in the folder. Maybe if it is not working you can create a branch for it and push to that branch?

[2020-09-04 12:41] qdread commented on #4
I was just thinking along the lines of having a few sets of example data that represent "edge cases." For example, sites with only one species, species with only one individual, missing data, etc. We provide expected values in each case, then any time the package is built, the tests are run to see if the output from each case is . If this is too complicated for Arya and Isadora to do, I can work o

[2020-09-04 15:31] billspat commented on #4
I think @qdread is right on, but tests can also be very very simple things just to get started.    I always start with a test that simply asserts true names "test that tests are working."    I also include the kinds of examples that would go into a readme or markdown file.    Tests of things that you know are guaranteed to always work are  still valuable because if _they_ fail then you know someth

[2020-09-08 19:05] sydnerecord commented on #5
@isafluck
The vignette is almost ready to go out to the larger group, but I need for you to run the code chunk with your example for the plotting function and error check it. As of now, it does not run. To knit the document it needs the Ostats output for input. Sorry if this was not clear in our exchange over Github issues. This example will also need to be updated in the documentations scripts in

[2020-09-08 19:06] yyue-r commented on #11
It should be good as the function will not be in the final package!

[2020-09-08 19:06] #11 closed

[2020-09-08 19:11] yyue-r commented on #10
Hi Sydne

I think Quentin wrote this example. I remember running it and it worked. @qdread Could you help us take a look?
Thank you very much!

[2020-09-08 20:18] qdread commented on #10
Hi @yyue-r can you please point me to where this code is?

[2020-09-08 20:24] qdread commented on #10
Also, apologies if it does not work. The circular overlap code was poorly developed. It might be OK to leave it in development form for now and not necessarily need to include it in the examples. But I will look into it.

[2020-09-08 20:40] qdread commented on #10
OK I realized it was a very small bug 🐛  in the circular_overlap function, so I fixed it by adding two parentheses 🧙

[2020-09-08 20:40] #10 closed

[2020-09-09 15:06] sydnerecord commented on #9
Hi @qdread I created a branch called overlap_regional_testing and put the file entitled, "ostats_regional_example_sydne_notworking.R" in the vignette folder. Thanks for taking a look at this. Also, thanks for addressing those other issues recently.

[2020-09-09 15:23] sydnerecord commented on #5
Hi @isafluck - Arya made a couple changes to the Ostats_plot example in the vignette, but it still yields this error message: Error in Ostats_plot(indiv_dat = indiv_dat, siteID = siteID, taxonID = taxonID,  :
  unused arguments (name_x = "Body Weight (log-transformed)", means = TRUE)
I'd like you to take a stab at fixing it, but let Ben or I know if you get stuck and then we can look into it more.

[2020-09-09 15:43] qdread commented on #9
Hi Sydne,
First, I think it is appropriate to include 2019 in the regional pool for each site, since the regional pool should include the local individuals as well. So I modified it to include that. That actually addresses the bug in the code, because there were some species in 2019 that were not present in other years. So, when it tried to sample individuals of that species from the regional pool

[2020-09-09 16:48] sydnerecord commented on #9
Hi Quentin,
Good point on including the 2019 data - I had been thinking of it differently.

I agree no need to explain NEON's taxonomic changes, but will think about putting in an error message that will flag when the names of taxa in the local pool are not a subset of the regional pool.

Thanks!

[2020-09-09 16:48] #9 closed

[2020-09-09 19:57] sydnerecord commented on #5
Hi @isafluck Never mind about the error I mentioned earlier today. I think we've got it sorted out. Arya reminded me that I needed to rebuild Ostats with dev tools. I'll take one last look at stuff then send the vignette out to the team for feedback (likely tomorrow).

[2020-09-09 19:57] #5 closed

[2020-09-09 20:17] isafluck commented on #5
Hello @sydnerecord sorry for the delay in solving this problem, I am dealing with the consulate to issue my visa.
Please see if the code for the example looks like this:

#'@examples
#'#load data:
#'#indiv_dat <- read_csv('https://ndownloader.figshare.com/files/9167548', col_names = T)
#'
#'#set the arguments:
#'#overlap_dat <- Ostats_bysite2015 #your results from the Ostat function - see \code{\l

[2020-09-10 14:56] isafluck commented on #5
@sydnerecord  did it work?

[2020-09-14 16:33] sydnerecord opened #12 "get_ses namespace issue"
Hi @qdread @yyue-r,
In wrapping up my revisions on the man documentation for the Ostats package, I wasn't able to run the example for the get_ses function because the function could not be found by R. I'm wondering if it has something to do with how the namespace is functioning. get_ses currently sits in a file called 'utility_functions.R'. I'm wondering if something got screwed up between when Ro

[2020-09-14 16:36] sydnerecord opened #13 "Argument name consistency for Ostats_plot"
HI @isafluck
I've just finished going through all the documentation for the package. Thanks for all the great work by you and Arya! One quick suggestion that might seem a bit nit picky, but I think will be helpful to the users of our package. Can you change the arguments names in Ostats_plot to correspond with the naming conventions used for these three arguments in the rest of the package?
Change

[2020-09-14 16:41] qdread commented on #12
Hey @sydnerecord @yyue-r . I did not include the function in the exported functions because it is an internal function that is only used within other functions. The user should never call it. Therefore, it really does not need to have any help documentation or examples. This is a typical practice for R package development: functions that are only used internally aren't exported and don't have docu

[2020-09-14 17:03] sydnerecord commented on #12
Hi @qdread that makes sense. Do you know how we can modify the name space, so that it doesn't include those functions that are now wrapped into community_overlap_merged (in bold below)? @yyue-r please let me know if I'm missing any.

export(Ostat2longform)
export(Ostats)
export(Ostats_circular)
export(Ostats_plot)
export(Ostats_regional)
export(circular_overlap)
export(circular_overlap_24hour)
exp

[2020-09-14 17:40] qdread commented on #12
Well, I mean, if Arya and Isa already did a bunch of work in coming up with examples and documentation for those internal functions, we might as well keep them in the namespace at least for now.

However, I think that Arya and Isa's work of merging the different `community_overlap_*()` functions means that we can actually remove quite a few of those entirely (i.e., delete the source code from the

[2020-09-14 22:25] isafluck commented on #13
Hello Sydne! It's done! I tested and it worked.
I tried to push the changes but I don't know why the changes and my commit do not appear here. I believe that's because someone is working on something in this right moment... Some weird things are happening in my github desktop... I will wait a little and try again.

Best,
Isa

[2020-09-14 22:40] isafluck commented on #12
Hello!
I remember that the get_ses example was not so functional/practical. So the idea of removing it from the functions the user can call sounds good. It would make the package simpler and I believe this is a positive point.
If I'm not mistaken, Arya merged everything in the community_overlap_merged function (I remember she had a lot of work and the result was amazing), so yes, I believe all the

[2020-09-14 23:56] isafluck commented on #13
Hello Sydne! I have pushed the changes present in my github desktop, can you please check if everything is ok?
I was not able to update the documentation of the ostats_plot.  I believe it was because of some "<<<<head" characters, see the message when I tried to document the updated ostats_plot:
30: <<
    ^
Calls: suppressPackageStartupMessages ... withr_with_dir -> force -> source_many -> source

[2020-09-15 00:00] qdread commented on #13
That's a merge conflict. It occurs when two people work on a file at the same time, and git does not know which version to use. The `<<<head` is one of the markers that shows you where the conflicted area is so you can fix it. The entire conflicted area would look like this:

[code]

You need to go into the file, fix the conflict manually, then delete the `<<<` , `===`, and `>>>` lines.

[2020-09-15 03:47] isafluck commented on #13
Thank you very much, quentin! I fixed the conflicts!

Unfortunately, I have found a problem: the means are not plotted when the user chooses to plot all sites. I noticed that this happens not only with all sites but when I set a different set of sites2use (as you can see in the pictures).
![n_sites2use_problem](https://user-images.githubusercontent.com/65627563/93163039-80181c80-f6ec-11ea-8365-1b6

[2020-09-15 14:41] isafluck commented on #13
Hello!
I solved the problem...
now the plot means works for all species too.
![problem_solved_all](https://user-images.githubusercontent.com/65627563/93224334-5d672180-f747-11ea-93c7-503031e1d533.JPG)

[2020-09-15 14:46] sydnerecord commented on #13
Awesome, Isadora! Thank you for your work on this.

Best,
Sydne

On Tue, Sep 15, 2020 at 10:41 AM isafluck <notifications@github.com> wrote:

--
Sydne Record, Ph.D.

Associate Professor
Department of Biology
Bryn Mawr College
Park 209
Bryn Mawr, PA 19010
phone: (610) 526-5094
fax: (610) 526-5086
*she.her.hers*

[2020-09-15 14:47] qdread commented on #13
Good work! 🏅 🥂 🥳

[2020-09-15 15:01] isafluck commented on #13
Sometimes all we need is a good night of sleep... The code is not beautiful, I think, but at least it works.. hehe
Please let me know if any errors arise.

[2020-09-16 16:58] #13 closed

[2020-09-16 17:01] sydnerecord commented on #12
Hi @yyue-r, Can you take a look at this thread, especially Quentin's response? Please remove functions that won't be in the final package and work on the name space issues with @export.

[2020-09-16 21:04] yyue-r commented on #12
Hi Sydne @sydnerecord  I deleted the unnecessary functions and rebuilt the package. Now the functions are removed from namespace. However, I get a warning here when building:
Warning message:
In setup_ns_exports(path, export_all, export_imports) :
  Objects listed as exports, but not present in namespace: Ostats_circular, community_overlap, community_overlap_circular, community_overlap_distributio

[2020-09-16 21:11] qdread commented on #12
@yyue-r I should be able to clear that issue up later tonight.

[2020-09-17 00:42] qdread commented on #12
@yyue-r I rebuilt everything and it seems like you did it correctly. I did not get the warning. I think it's fine! I made a small unrelated correction to the vignette because the arguments to `Ostats_plot` had not been updated based on the changes from #13 . So I think all is good 😀 so I'm closing this.

[2020-09-17 00:42] #12 closed

[2020-10-15 02:12] qdread opened #14 "Playing around with hypervolumes"
Hi @sydnerecord !

I spent a few minutes looking into the `hypervolume` package. It is pretty cool. It creates a smoothed out density estimate similar to the one dimensional density we are using for our univariate case. I made a test version of a function called `pairwise_overlap_mv()` that calls functions from package hypervolume and returns analogous values to our single variable overlap functio

[2020-10-15 14:28] sydnerecord commented on #14
Cool! @qdread

Have you looked at the [FAQ page](https://benjaminblonder.org/hypervolume_faq.html) for the hypervolume package? In particular, when calculating the overlaps, is this point considered:

"When and how can I compare two hypervolumes? Hypervolumes can only be compared if they are constructed using the same axes (both number of axes and identify of axes). The volume of a hypervolume is

[2020-10-15 14:53] qdread commented on #14
For the first point, we are always going to be comparing hypervolumes of the same dimensionality because the same trait set will be used for each species. So that one should not be an issue.

As for the fixed kernel bandwidth part, that's actually also an issue I think with the univariate. In order to check whether results are robust, you need to try different bandwidths out. I guess the issue of

[2020-10-16 14:38] qdread opened #15 "overlap calculated separately for >1 trait"
The `Ostats()` function now rejects input with >1 trait (line 106). However if you look at line 151, you can see that actually it should loop through the traits and calculate a separate overlap for each trait.

We need to get rid of that error catching line because we don't want it to return an error if there is >1 trait. We want it to either calculate a separate overlap for each trait, or ultimat

[2020-10-16 14:39] sydnerecord commented on #14
Hi @qdread

Thanks for the insights. Could you add some code for the resampling down to equal numbers for the univariate and multivariate cases? We can then take it from there with documentation.

[2020-10-16 15:31] qdread commented on #14
@sydnerecord Yeah I can definitely add that if needed. It's probably a good idea to have it be optional or at least warn that resampling is being done. We would not want to resample down to 2 or 3 data points, if we happen to have a species with very low abundance.

Thinking about it further, maybe a better option is just to throw a warning if the numbers of data points across species are very dif

[2020-10-16 16:09] sydnerecord commented on #14
Good call on the warning message, so that folks think through their data more. I can update this when I update the warning message from the other issue you just opened. I'll close this issue out once these points have been addressed - probably not til next week.

[2020-10-16 16:17] qdread commented on #14
OK -- it might take longer than a week to fully implement the multivariate stuff tho...

[2020-10-16 16:22] sydnerecord commented on #14
Good to know. We can discuss at our meeting.

On Fri, Oct 16, 2020 at 12:17 PM Quentin Read <notifications@github.com>
wrote:

--
Sydne Record, Ph.D.

Associate Professor
Department of Biology
Bryn Mawr College
Park 209
Bryn Mawr, PA 19010
phone: (610) 526-5094
fax: (610) 526-5086
*she.her.hers*

[2020-10-19 12:12] qdread opened #16 "Implement resampling (rarefaction)"
As Sydne noted from reading the FAQ for hypervolume (see #14), it might be a problem if the overlaps are calculated across species with very different numbers of data points. This might be a problem for the one-variable overlaps too. But we don't want to assume anything and automatically resample the data points down.

My recommendation would be to throw a warning from Ostats() if there are any ov

[2020-10-19 12:13] qdread commented on #14
I split off the resampling thing into its own issue, #16, because this ish is more about the hypervolumes

[2020-10-19 12:21] qdread opened #17 "Random seed"
For now, there is no warning given or display of random seed so results of null models will be slightly different each time the functions are run, unless the user sets the seed beforehand. Also, the algorithm for hypervolume is stochastic so even the point estimate will differ each time unless user sets a seed. I think it might be a good idea to print the seed being used and/or prompt the user to

[2020-10-19 12:54] qdread commented on #15
I just noticed that the community_overlap_merged() function is written so that it currently returns an error if there is >1 trait due to the way the data structures are set up. This function will also need to be rewritten to support the multiple traits (not just for the hypervolumes but also just to be able to loop through >1 trait).

[2020-10-19 12:57] qdread opened #18 "Small issues with vignette raised by Pat in email"
@billspat I just took the liberty of pasting some stuff you wrote in your email into some issues on here. Thanks again for the feedback.

- While the " stringsAsFactors" option is only needed for R version < 4.0 some folks are old computers that can't upgrade.  If your package doesn't require R 4, then I would leave this in.
- ~~I noticed in the vignette that a new column "log_weight" is created w

[2020-10-19 12:58] qdread opened #19 "Optimize code for speed"
Issue raised by Pat Bills but is definitely a generally important issue. We need to probably profile the code to see where the bottleneck(s) are and try to speed it up. It is very slow even for small and not very complex datasets.

[2020-10-19 13:03] qdread opened #20 "Names of ostat output"
Comment from Pat in email:

[2020-10-19 13:05] qdread commented on #4
Additional comments from Pat in email:

[2020-10-21 16:35] qdread commented on #14
See commit e6c1747 in hypervolumetest branch. This is a working alpha version of the hypervolume overlap that has yet to be tested fully.

[2020-10-28 14:47] qdread opened #22 "Documentation and vignette for Ostats_multivariate"
I just did a pull request of the branch where I was working on the hypervolume stuff, then merged it with the master branch.

So now the Ostats_multivariate() function is included in the main package. The internal functions pairwise_overlap() and community_overlap_merged() have also been modified so that they work with the multivariate data.

I think I already updated the documentation for the int

[2020-10-28 14:50] qdread commented on #14
I've merged hypervolumetest with the master branch. See the merge commit 866db1d . There are still some outstanding things to do but I will create separate, more focused issues for them. I guess I will just leave this issue open for now though, because there is some useful discussion in here.

[2020-10-28 14:52] qdread commented on #15
I resolved these issues in the set of commits I merged from hypervolume test branch into master branch: 866db1d

[2020-10-28 14:52] #15 closed

[2020-10-28 14:54] qdread opened #23 "Plotting function for multivariate or multiple O-stats"
1. ~~The Ostats_plot() function should create separate panels or pages of plots for each trait separately, if Ostats were run on multiple traits separately.~~
2. If multivariate, we might also want to include plots based on those from the hypervolume package to show the covariance between the different traits that leads to different shaped hypervolumes.

This will take a fair bit of work to do, es

[2020-10-28 15:02] qdread opened #24 "Remove .Rproj.user from commits"
@yyue-r @isafluck

I have noticed that there is a file called `.Rproj.user` in the repository. That file should not be included in any commits because it is an internal "hidden" file that should exist on all of our individual machines but should not be pulled and pushed when we commit to the remote repository. It is in the `.gitignore` so future commits should not include it. Please make sure you

[2020-10-28 15:06] qdread commented on #24
Can everyone please run the following on the terminal in their local Ostats git repository directory?

`git rm -r --cached .Rproj.user/`

This will ensure that the local changes of .Rproj.user will stop tracking on the remote repository!

[2020-10-28 17:13] qdread commented on #17
I now fixed this so that you can set a random seed within `Ostats()` and `Ostats_multivariate()`. If you don't, it will warn you and set a seed based on the current time. The commit is e16f4b4

[2020-10-28 17:13] #17 closed

[2020-10-28 17:14] qdread commented on #18
I fixed a few of the issues that come up on package check (e16f4b4) but mainly those involved with the source code, not the vignette example code yet. So that still needs to be done

[2020-10-28 17:23] qdread commented on #22
I did a little bit of the documentation but still needs work ...

[2020-10-28 17:37] qdread commented on #18
Also yes, the logweight column in the original dataset was log base e. The newly calculated column has log base 10. It won't change the results at all but the log base 10 is more interpretable I think. So no need to change that.

[2020-10-28 18:12] qdread commented on #18
All right, I fixed the vignette so that it no longer depends on dplyr! It still depends on ggplot2, so I just went ahead and added ggplot2 to the import dependencies of the entire package (since it's needed for `Ostats_plot()` anyway). I also had to add gridExtra to the dependencies b/c of the grid.arrange function we call. See commit 7b2580d.

Basically the only thing left here are the issues whi

[2020-10-28 18:17] qdread commented on #16
I included a warning (f01dcdd) but leaving this open if we want to write some code to actually do the resampling

[2020-10-29 14:59] qdread commented on #20
Actually, I'm not sure what Pat meant here because the matrices in the output of `Ostats()` are already named. See line 130 of `Ostats.R`:

[code]
@billspat Can you please clarify what you meant?

[2020-10-29 17:26] isafluck commented on #24
Hello, Quentin!
I got the following message
![image](https://user-images.githubusercontent.com/65627563/97609652-9f47e080-19f2-11eb-8b2f-3cfad5888a79.png)

What is wrong?

[2020-10-29 17:28] billspat commented on #20
Really possible I am mistaken, or I missed something or maybe it was  from my non-dplyr filtering, but I get null column names.    The row names work great.

[code]

[2020-10-29 17:35] isafluck commented on #22
Great! I can totally help with the writing of the function and vignette!
So the multivariate vignette would be a vignette similar to Ostats'
vignette, right? What would change is the context of using the Ostats
function?
We can discuss this further at the meeting today. Then I start writing!

Best,

Isadora Fluck Essig
Laboratory of Theoretical and Applied Ecology
Universidade Federal de Santa Mar

[2020-10-29 17:53] qdread commented on #20
@billspat thanks for the reprex! I determined this was a result of R's "helpful" default behavior of converting a matrix to a vector if only a single column is selected with the indexing operator `[`, which strips the names. I pushed a commit 1fe07d6 which adds `drop = FALSE` to all the indexing of single columns done in the vignette, which should result in the names being preserved. For example `

[2020-10-29 17:53] #20 closed

[2020-10-29 17:59] qdread commented on #24
Follow up -- if you are on Windows you may not be able to run this in your terminal in rstudio, you will need to run it in git bash in the appropriate directory.

[2020-10-29 18:02] qdread commented on #22
Another thing we'd need for the vignette is a good example dataset. We should use something relevant instead of the crappy iris dataset.

[2020-10-29 18:22] isafluck commented on #24
Ok, I downloaded Git and ran the command! Now I think it worked.
![image](https://user-images.githubusercontent.com/65627563/97615374-fbfac980-19f9-11eb-95ec-ed97f4439b7f.png)

From now on I will be careful not to commit and push any files related to .Rporj .

[2020-10-29 19:08] qdread commented on #24
Great! 🥂

[2020-11-09 13:34] qdread commented on #24
@yyue-r Just to follow up, were you ever able to do this or do you still need help getting it to run?

[2020-11-11 23:39] yyue-r commented on #24
@qdread I did it and my computer tells me that no .Rproj files can be found. So I guess it should be fine?

[2020-11-12 02:08] qdread commented on #24
Thanks! I'll go ahead and close this.

[2020-11-12 02:08] #24 closed

[2020-11-17 14:44] qdread opened #25 "Replace figshare download with local data"
We should include the vignette and example data within the package so that there is no need to download from figshare every time.

[2020-11-17 14:49] qdread commented on #25
Also, we should include the pre-calculated Ostats_bysite2015 object so that Ostats_plot can have labels without recalculating the object.

[2020-11-17 14:50] qdread commented on #23
also note that the filtering code in Ostats_plot() will not work if we have multiple traits; this needs to be cleaned up a bit.

[2020-11-17 14:53] qdread commented on #18
I cleaned up the vast majority of the issues that appear when you run `devtools::check()` so I'm closing this issue. See commit c963cf5. (The outstanding errors from R CMD CHECK should be resolved when other issues are resolved.)

[2020-11-17 14:54] #18 closed

[2020-11-17 20:00] qdread opened #26 "Some issues with Ostats_plot"
- Filtering code won't work if there are multiple traits (need to add support for >1 trait as discussed in issue #23 )
- means = FALSE returns error because table_all object is only defined if means = TRUE, but is required later in the function
- mean calculation code can be done more precisely
- replace rainbow palette with viridis

[2020-11-17 20:58] qdread commented on #25
Did this! Added in commit 7778a0b with some additional documentation in commit d50b470

[2020-11-17 20:58] #25 closed

[2020-11-18 18:16] qdread commented on #26
Resolved most of these issues with 379b977 except for multitrait plot, which still has an open issue (#23)

[2020-11-18 18:16] #26 closed

[2020-11-19 14:14] qdread commented on #23
Point #1 was done in commit db1c01f so that a list of plots is returned if you input trait data with >1 column.

[2020-11-20 14:10] qdread commented on #4
Commit b48ffb5 has a few new tests I wrote for `Ostats()` and `Ostats_multivariate()`. I don't think we specifically need to write tests for every intermediate function, because they are all called by those final functions. I guess we could do some for the circular data type.

[2020-11-20 14:11] qdread commented on #22
Just to update, I'm still looking for example datasets to use in the vignette, and the help documentation for `Ostats_multivariate` is not yet written. Hopefully I will be able to get to it soonish.

[2020-11-20 16:56] sydnerecord commented on #4
Pat had suggested we have a test that runs the vignette. I think that would
be the only major one to consider.

On Fri, Nov 20, 2020 at 9:10 AM Quentin Read <notifications@github.com>
wrote:

--
Sydne Record, Ph.D.

Associate Professor
Department of Biology
Bryn Mawr College
Park 209
Bryn Mawr, PA 19010
phone: (610) 526-5094
fax: (610) 526-5086
*she.her.hers*

[2020-11-20 16:58] qdread commented on #4
@sydnerecord yes, I put a bit of the code from the vignette into the tests but not all of it yet.

[2020-11-20 21:02] qdread commented on #4
@isafluck in response to the email thread from before, I think these are the main outstanding things that still require tests

- Test case corresponding to line 111 in the vignette to make sure Ostats handles the different density arguments correctly
- Test case corresponding to line 162 in the vignette to make sure the hourly circular data is handled correctly
- Test case corresponding to line 21

[2020-11-20 21:03] qdread opened #27 "Argument names in vignette for Ostats_plot are out of date"
We've changed the argument names in Ostats_plot so we need to update the vignette since it still has the old argument names in the description.

[2020-11-23 22:51] isafluck commented on #27
done!

[2020-11-23 23:27] isafluck commented on #4
Hello @qdread !
Thank you for guiding me into this.
Just to check we are looking at the same vignette version: line 111 corresponds to the Ostats_example2, right?
So is the aim here to test all these points you have raised in the comment above? For example, is it to test the Ostats_example2 using different -bw-,  -ajusts- and -n-?

Another thing:
I just can't find the test-Ostats.R. code in github

[2020-11-24 01:07] qdread commented on #27
Thanks!

[2020-11-24 01:07] #27 closed

[2020-11-24 01:13] qdread commented on #4
Hi @isafluck all the tests are in the folder `tests/testthat/` and the scripts are named as `test-functionname.R`.

The line numbers are from the current version of the vignette in the most recent commit. It looks like the changes you just made did not change those line numbers. So they should still be correct.

I don't think you really need to make lots of tests for different arguments. Just writ

[2020-11-25 23:58] isafluck commented on #4
Hello!
I tested the lines you have pointed out earlier. I made the tests in a new script called testthat_vignette_issue4.R and pull it to the repository. As it is the first time I use the testthat package alone I ask if you can take a look at it to check if I did it right. I also included some questions in the script to discuss further if you have some time for it.
Thank you very much, I'm learnin

[2020-11-26 01:08] qdread commented on #4
@isafluck nice job with the tests! 🏅 🥂 They look good. I will clean up the code a bit and incorporate it into the existing script.

I'll also (attempt to) answer your questions from the script:

- You are correct in your first guess about what `test_that` and `expect_equal` do. They just compare the result with the expected result. So it will only detect a problem with the code if it changes the f

[2020-11-26 01:16] isafluck commented on #4
Thank you @qdread ! I'm glad that it was right! And thank you very much for answering the questions, I'm learning a lot.
I'll check this name problem!

[2020-11-26 01:28] sydnerecord commented on #4
Great work on this @isafluck!

On Wed, Nov 25, 2020 at 8:17 PM Isadora Fluck Essig <
notifications@github.com> wrote:

--
Sydne Record, Ph.D.

Associate Professor
Department of Biology
Bryn Mawr College
Park 209
Bryn Mawr, PA 19010
phone: (610) 526-5094
fax: (610) 526-5086
*she.her.hers*

[2020-11-26 03:03] qdread commented on #4
Excellent, I've moved everything into the test_Ostats file and fixed some other stuff that came up in the process. I think for now this is a good enough test suite! I am going to close this issue.

[2020-11-26 03:03] #4 closed

[2020-11-26 03:06] qdread opened #28 "enable github actions"
It's a good idea to enable GitHub Actions for continuous integration, meaning that every time we change the repository (by pushing or a pull request) it will automatically run the R package checks including the test suite. I think I'll hold off on doing it now, and wait until things are more complete and we are just making small tweaks.

[2020-12-16 14:42] sydnerecord commented on #22
I've put an example data set into our shared G drive [here](https://drive.google.com/file/d/1oxoRu4AxTOMRdCKVRgsxwbGhxXac_AJ0/view?usp=sharing). Let me know if you have any questions.

[2020-12-16 16:46] qdread commented on #22
Thanks @sydnerecord! That's a big help. Of course if we end up using this in the vignette it'd only be a small and anonymized subset. I can even add random noise to the data if you want.

[2020-12-16 16:47] qdread commented on #23
I am working on Part 2. See the branch [multivariate-plot](https://github.com/NEON-biodiversity/Ostats/tree/multivariate-plot)

[2021-04-05 15:13] qdread opened #29 "Ostats with no null models"
Currently there is no way to run Ostats() with no null models. The workaround was to use 1 iteration. But we should change it so there's an option to not run any iterations in case someone just wants the raw number.

[2021-04-05 18:05] qdread commented on #23
Part 2 was done as of commit 056b8e0 . Still working on the documentation and vignette as discussed in #22

[2021-04-05 18:05] #23 closed

[2021-04-05 18:36] qdread commented on #29
Fixed in 663076a , now can specify `run_null_model = FALSE` but default is `TRUE`

[2021-04-05 18:36] #29 closed

[2021-04-06 17:45] qdread commented on #19
This is especially the case for the multivariate (hypervolume) stuff. It's extremely slow.

[2021-04-12 12:52] qdread commented on #19
I just noticed a major reason why this might be slow, which is that the code is written very stupidly. For each pairwise comparison, the density function for each member of the pair is calculated. That means that the density function for each species is calculated individually every time it's part of a pair. That is executing the exact same code over and over, especially if there are a lot of spec

[2021-04-12 12:58] qdread commented on #19
One additional thing to do is to add a sensible default to `num.points.max` in the hypervolume overlap function, as well as letting the user specify a value.

[2021-04-12 18:52] qdread opened #31 "Pass additional arguments to hypervolume_set"
If we do continue to use hypervolumes for the multivariate stuff, we should have the ability to specify the arguments to `hypervolume_set`. As it is now there is no maximum for the number of points to evaluate for overlap, which can make it very slow if there are lots of species.

This is an issue that was spawned from #19

[2021-04-12 18:53] qdread opened #32 "Eliminate redundancy in community_overlap_merged"
the code is very slow at the moment because it calculates the density for each species every time a pairwise overlap is calculated. If there are a lot of species that means the same density is estimated many times. Need to rewrite. See comment in the other issue this is spawned from (#19 )

[2021-04-12 19:15] qdread commented on #32
This is being worked on in branch `no-redundancy`. After testing, we may need to update documentation for the modified function `pairwise_overlap` and the new function `trait_density`, though we also may not want to export either of them.

[2021-04-12 19:21] qdread commented on #32
The changes I made also broke the function `Ostats_regional()`. However this function may not be needed anymore.

[2021-04-12 19:22] qdread opened #33 "Decide whether to get rid of some old functions"
The functions

- `Ostat_regional()`
- `community_overlap_noitv()`
- `Ostat2longform()`

were functions that I wrote for different customized questions we came up with in the process of our work on the overlap stuff. I stuck them in the package to begin with because I just dumped all the code in there. But they have not been maintained or improved since then, and other improvements to the code may

[2021-04-12 19:26] qdread opened #34 "Unified documentation in Ostats()"
Right now some useful documentation is spread around the different functions. But really the users will not be expected to call the internal functions. Instead they will just call Ostats(). So we should move any useful documentation to Ostats(). One example would be an explanation of how the input data should be formatted, for normal and circular data types

[2021-04-13 14:20] qdread commented on #32
Two new issues:

- the progress bars are now mismatched with the actual progress so they go from 0-100 in one step.
- the testthat tests are broken because the results are numerically slightly different. Not sure if this is OK or a problem, but either way tests will have to be fixed.

[2021-04-13 17:49] qdread opened #35 "Multivariate plot contours get cut off"
Something is going on with the contours in the multivariate plot where they get cut off even when I tried to clip the plot region without redrawing them. Can probably be fixed by setting the limits to a wider limit.

[2021-04-13 17:51] qdread opened #36 "Rename community_overlap_merged to community_overlap"
The `_merged` part was there to distinguish it from older versions of the function but we should just rename it to `community_overlap` which is simpler. No need to confuse with a long name that won't mean anything to people. Will need to change that everywhere in the codebase

[2021-04-14 20:27] qdread commented on #34
We need to check the documentation on older deprecated versions of `pairwise_overlap()` to incorporate in the documentation of `Ostats()`. Then we can change pairwise_overlap() to `@noRd` instead of `@export`.

[2021-04-14 20:29] #32 closed

[2021-04-14 20:30] qdread commented on #36
Also Ostats_vignette should just be called Ostats

[2021-04-23 17:26] qdread opened #38 "Discrete circular overlap has 24 hard coded into it"
The circular overlap discrete was made originally for hourly data so the vector `0:23` is used to bin the points. It should be edited so that it is not constrained to 24 unique values.

[2021-04-23 18:10] qdread commented on #36
Resolved in 38bb464 😄

[2021-04-23 18:10] #36 closed

[2021-04-23 20:07] qdread commented on #35
7068448 partially fixes this but it still looks a little weird.

[2021-04-23 22:22] qdread commented on #35
Fully resolved with 0079615 !

[2021-04-23 22:22] #35 closed

[2021-04-24 02:29] qdread commented on #38
Will need to specify an argument to Ostats which is passed to community_overlap and from there to trait_density for the unique values. Document it in Ostats and community_overlap

[2021-04-26 12:29] qdread commented on #33
@sydnerecord @yyue-r @isafluck I apologize if this wastes some work you did, since you have a nice example in the vignette and some nice documentation for the `Ostats_regional()` function. But I'm not sure it is that useful to include `Ostats_regional()` in the package since it's a little bit confusing what exactly it's doing, and it would likely not be used very much by users. I could go either w

[2021-04-26 12:32] qdread commented on #38
Fixed this in 7a82025 which also updates the tests and vignette accordingly.

[2021-04-26 12:32] #38 closed

[2021-04-26 12:37] qdread opened #39 "Better multivariate plot legend"
The multivariate plot legend currently is kind of ugly: it's the species names written in different colors. It would be better to have a line or point in the color for each species, next to the name of each species in black.

Relevant bit of code: https://github.com/NEON-biodiversity/Ostats/blob/master/R/Ostats_multivariate_plot.R#L108-L117

@isafluck Would you mind giving this a try? I will help

[2021-04-26 12:38] qdread commented on #39
Actually it occurs to me that it would be nice to have a legend with names associated with species colors for the regular `Ostats_plot()` too, not just the multivariate plot. So we should do that as well.

[2021-04-26 12:41] qdread commented on #22
@sydnerecord I'm tagging you again here to see whether you would be able to take a look at the vignette outline I wrote, and add details or background about the pitcher plants. Also, I thought it would be a good idea to scale all the traits relative to pitcher width just so that they were more comparable among species (i.e. we are comparing shape and not just size). I just came up with that off th

[2021-04-26 12:51] qdread commented on #34
@isafluck @yyue-r (Arya I didn't know whether you are still interested in working on this, feel free to ignore if not!)

Again I really appreciate all the work you did on the documentation. I think it will be easier for users if we consolidate the documentation so basically all of it is shown when the user types `?Ostats`. Then we can keep the other functions as internal ones that the users will n

[2021-04-26 12:53] qdread commented on #14
I think we have more or less addressed everything in this issue or created new issues for them so I'll close this one.

[2021-04-26 12:53] #14 closed

[2021-04-26 12:56] qdread commented on #22
@isafluck I also assigned you here per our discussion about adding some background out of the lit about niches/traits. For the vignette 1 paragraph is probably adequate, but more will be needed for the publication.

[2021-04-26 13:06] qdread opened #40 "Create pkgdown site"
Obviously every good package needs a pkgdown site 😆

@billspat I will build a pkgdown site for the Ostats package, which should be posted at neon-biodiversity.github.io/Ostats. Once I do, can you link to it from the main page?

[2021-04-26 13:48] billspat commented on #40
yes will do!

we will have to mark it in the config file for the Hugo site generator to ignore that folder for processing, and just pass it over  to the site untouched.

If we think other projects may have pkgdown, bookdown, or even single R notebook files, then I think we need a sub folder for projects,

`neon-biodiversity.github.io/projects/Ostats`

then there is one point in the site where all

[2021-04-26 16:28] qdread commented on #40
@billspat thanks! Let me know if there is any additional configuration I need to set up. I just built the page which is live at https://neon-biodiversity.github.io/Ostats/. I used the standard github pages settings for the `Ostats` repository, it's set to build github page from the `docs/` folder on `master`. I'll let you tinker with it if you need to make any other changes to the configuration.

[2021-04-26 18:56] qdread commented on #31
Resolved with 8171c97 !

[2021-04-26 18:56] #31 closed

[2021-04-26 20:05] qdread opened #41 "Fix issues in R CMD check"
For the package to be accepted by CRAN it has to pass `R CMD check` or `devtools::check()` without any errors or warnings, and as few notes as possible. Some of the existing problems will go away once we finish the documentation but I need to fix the rest.

- [x] Fix "no visible global binding" note for ggplot2 things
- [x] ~Get rid of non-standard internal_docs folder~ instead added it to .Rbuild

[2021-04-26 20:24] qdread opened #42 "Document pitcher traits"
This should be a fairly easy one for you @sydnerecord .

We need to have a documentation file for the pitcher plant traits. I made a placeholder one, [pitcher_traits.R](https://github.com/NEON-biodiversity/Ostats/blob/master/R/pitcher_traits.R). Can you please write the documentation for this, analogous to the [ant data documentation](https://github.com/NEON-biodiversity/Ostats/blob/master/R/ant_d

[2021-04-27 01:18] qdread commented on #28
I think this is kind of excessive so we should probably not do this.

[2021-04-30 16:52] qdread commented on #40
Yes go ahead and add the pic! I made a PR with a small edit to your blurb. Thanks!

[2021-04-30 18:15] billspat commented on #40
thanks  @qdread  for the PR  - that made it really easy to merge, rebuild  and deploy.  and thanks for adding our first package!!  inspiration

https://neon-biodiversity.github.io/post/ostats-package/

[2021-04-30 18:16] #40 closed

[2021-05-03 21:25] sydnerecord commented on #33
@qdread All of this sounds fine to me for the general vignette that will accompany the publication. However, I think we should save the old version of the vignette we worked (with a different name) on a branch for our team to access as some of those functions will be useful to us as we move the project forward.

[2021-05-04 09:26] qdread commented on #33
@sydnerecord I had saved the section that I removed from the vignette in [this document](https://github.com/NEON-biodiversity/Ostats/blob/master/internal_docs/regional_vignette_excerpt.txt) on the repo. So all the text you worked on is still accessible :-D

[2021-05-04 09:26] #33 closed

[2021-05-04 12:58] sydnerecord commented on #22
@qdread I'll take a look at the vignette outline and add details about the pitcher plants. Per your question about scaling the traits, we should take the approach that's been taken in the literature on these same traits for pitcher plants in the past for multivariate analyses: standardized (transformed into standard-
deviation units, or Z scores). Does that make sense to you?

[2021-05-04 13:41] qdread commented on #22
Yes, I standardized them already. I also took ratios of everything divided by pitcher width just to remove size dependence of the traits, if that is not a correct way to do it please change! 😃

[2021-05-04 15:32] qdread commented on #39
Fixed the multivariate legend in b6b1e25 but not yet in `Ostats_plot()`

[2021-05-04 15:33] qdread commented on #34
I think this is all resolved well enough by b6b1e25

[2021-05-04 15:33] #34 closed

[2021-05-04 18:52] qdread commented on #41
Closing this because it is redundant with #42

[2021-05-04 18:52] #41 closed

[2021-05-04 19:50] qdread commented on #39
Fixed this in `Ostats_plot()` too in a943d4f

[2021-05-04 19:50] #39 closed

[2021-05-10 09:33] qdread opened #43 "Support discrete data"
For some reason we have support for circular discrete data but there is no reason why we don't support discrete data in general. It could be added to the Ostats function easily enough. We could have two arguments, one for linear vs circular and one for continuous vs discrete.

[2021-05-10 17:54] qdread commented on #22
Commit f8ec818 adds documentation for the two multivariate functions. Maybe could also add an example for each? But mainly just the vignette needs to be done.

[2021-05-11 17:10] #43 closed

[2021-05-17 14:00] qdread opened #45 "Contour plot doesn't work if density is too low"
Right now the level on the hypervolume contour plot is set at 0.01 by default. But if the KDE has too low of a density, it won't plot anything. Either allow the user to set the level as an argument, or come up with some logic to find a better level to plot.

[2021-05-17 14:33] qdread commented on #45
I enabled the user to set the level as an argument but that isn't ideal so leaving this open in case I come up with a better way to intelligently find the level

[2021-06-23 19:23] jonknott opened #46 "Vignette & function documentation suggestions"
From the [vignette:](https://neon-biodiversity.github.io/Ostats/articles/Ostats-introduction.html#arguments-to-ostats)
The argument circular defaults to TRUE, meaning the data are on a linear scale (i.e., body masses of individual small mammals). The alternative is TRUE for data that are periodic (e.g., measured in radians or degrees).

Should be:
The argument circular defaults to **FALSE**, meani

[2021-06-23 19:24] qdread commented on #46
Thanks you're right in both cases!

[2021-06-23 21:12] qdread commented on #46
I resolved both these in 4ab743d , first just changed the typo in the vignette, then actually instead of changing the help documentation I added a line in `Ostats()` and `Ostats_multivariate()` to coerce input to a one col matrix, if it's given as a vector.

[2021-06-24 19:13] qdread opened #47 "Output raw pairwise overlaps?"
Based on comment by Ben, it might be a good idea for community_overlap to return the raw list of pairwise overlaps so that we can give an option for Ostats to return them.

This was originally because he got very different results whether he used mean or median to get the O-stat. We should consider maybe trying different ways of calculating O-stat that are more robust to whether we choose mean or

[2021-06-29 16:37] #47 closed

[2021-07-06 16:03] sydnerecord commented on #42
Sorry this has taken so long! It's done now.

[2021-07-06 16:03] #42 closed

[2021-07-26 12:29] qdread commented on #28
Reopening this ... I think it might be nice to do this after all esp if we are on CRAN because we can put a badge on the top of the repo page showing that the build is passing.

[2021-11-16 17:20] qdread opened #49 "Use new hypervolume set function to speed up multivariate Ostats"
In the newest version of the hypervolume package, there is a new function called [hypervolume_set_n_intersection](https://github.com/bblonder/hypervolume/blob/master/man/hypervolume_set_n_intersection.Rd) that calculates all pairwise overlaps for a set of n hypervolumes. This should be faster than our current approach of applying `hypervolume_set()` iteratively because it does not have to resample

[2021-11-17 13:08] qdread commented on #49
Actually I looked into this a bit and the new function doesn't do quite what we want. It finds the single hypervolume that is the intersection of n hypervolumes, not all pairwise combinations within the n hypervolumes. So I think it's fine to leave everything as is.

[2021-11-17 13:08] #49 closed

[2022-08-16 15:53] qdread opened #50 "Enable plotting of discrete and circular data types"
I don't know if this is still an active project but I was kind of interested in adding full functionality to `Ostats_plot()`. Currently, we can calculate one-dimensional Ostats for continuous data, discrete data, circular continuous data, and circular discrete data. We can do n-dimensional hypervolume Ostats for continuous data. So far, there are only plotting methods for continuous data for the o

[2022-08-16 15:59] qdread commented on #50
For completeness, here is the discrete plot normalized in the same way as the continuous plot, and with the same color scheme. All of this can be done with the code in commit df50eaa

![image](https://user-images.githubusercontent.com/9200842/184925239-a18cce8f-c181-4e04-95ef-2e079feadeab.png)

[2022-08-16 16:17] qdread opened #51 "Add option for normalized or non-normalized density plots"
Currently we allow calculation of both normalized and non-normalized Ostats, but the plot method only plots normalized density plots with the same area for each species regardless of abundance. It would be good to have both options. I will try to implement this soon.

[2022-09-02 18:40] qdread commented on #51
See branch [newplotcode](https://github.com/NEON-biodiversity/Ostats/tree/newplotcode) where this is partially implemented

[2022-09-02 18:40] qdread commented on #50
More updates have been pushed to branch [newplotcode](https://github.com/NEON-biodiversity/Ostats/tree/newplotcode)

[2022-09-06 00:39] qdread commented on #50
Note: also need to fix limits default for discrete non circular data type

[2022-09-08 17:14] qdread commented on #51
All implemented in b65ae78 in newplotcode branch

[2022-09-08 17:14] #51 closed

[2022-09-08 17:15] qdread commented on #50
So far everything looks good in b65ae78 in newplotcode branch. I added a lot of unit tests which all pass but they return warnings due to missing values in ggplot2. I am not sure where the warnings come from and it will not pass CRAN because they treat warnings as errors. Once I can get rid of the warnings, I will consider this resolved and put together a new release to send to CRAN.

[2022-09-08 19:08] qdread commented on #50
I learned from some ggplot2 issues that you cannot make the warning go away. The way to fix it would be to set the limits in `coord_cartesian()` instead of `scale_x_continuous` which I will try to do ASAP to get rid of the warnings.
- https://github.com/tidyverse/ggplot2/issues/4200
- https://github.com/tidyverse/ggplot2/issues/2887#issuecomment-485721611

[2022-09-09 17:54] qdread opened #52 "Get rid of workaround requiring suppressWarnings in Ostats_plot unit tests"
currently, all discrete plots throw a warning when setting x axis limits:

[code]

This is unavoidable ggplot2 behavior. It might be possible to get rid of the warnings by using `coord_cartesian` to set the x axis limits instead of `scale_x_continuous`. I tried this but it changed the appearance of other plots in an undesirable way.

Because of this, I simply used `suppressWarnings()` in the unit

[2022-09-09 18:36] #50 closed

[2022-09-11 18:38] qdread commented on #22
Just going through old issues getting ready to make a new cran release. I think we are good here, the vignette is complete for multivariate. So I am going ahead and closing this.

[2022-09-11 18:38] #22 closed

[2022-09-11 18:41] qdread opened #54 "Additional documentation, including vignette, for Ostats_plot"
Now that I have added some new features to `Ostats_plot`, I think it would be good to have a vignette that provides an example of all of them. I do not want to delay releasing the new package to CRAN, so I am going to go ahead and do that. I hope to have some time in the near future to write the vignette (it can just be a very simple one with a bunch of plots) but if I do not get to it, anyone is